@font-face {
    font-family: 'Muller-UltraLight';
    src: 
    url('fonts/MullerUltraLight.woff') format('woff'),
    url('fonts/MullerUltraLight.woff2') format('woff');
    font-display: swap; //Браузер будет подгружать стандартные шрифты
    }

@font-face {
    font-family: 'Muller-Light';
    src: 
    url('fonts/MullerLight.woff') format('woff'),
    url('fonts/MullerLight.woff2') format('woff');
    font-display: swap; //Браузер будет подгружать стандартные шрифты
    }

@font-face {
    font-family: 'Muller';
    src: 
    url('fonts/MullerRegular.woff') format('woff'),
    url('fonts/MullerRegular.woff2') format('woff');
    font-display: swap; //Браузер будет подгружать стандартные шрифты
    }

@font-face {
    font-family: 'Muller-Medium';
    src: 
    url('fonts/MullerMedium.woff') format('woff'),
    url('fonts/MullerMedium.woff2') format('woff');
    font-display: swap; //Браузер будет подгружать стандартные шрифты
    }

@font-face {
    font-family: 'Muller-Bold';
    src: 
    url('fonts/MullerBold.woff') format('woff'),
    url('fonts/MullerBold.woff2') format('woff');
    font-display: swap; //Браузер будет подгружать стандартные шрифты
    }

@font-face {
    font-family: 'ProximaNova-Thin';
    src: 
    url('fonts/ProximaNovaT-Thin.woff') format('woff'),
    url('fonts/ProximaNovaT-Thin.woff2') format('woff');
    font-display: swap; //Браузер будет подгружать стандартные шрифты
    }

@font-face {
    font-family: 'ProximaNova-Light';
    src: 
    url('fonts/ProximaNova-Light.woff') format('woff'),
    url('fonts/ProximaNova-Light.woff2') format('woff');
    font-display: swap; //Браузер будет подгружать стандартные шрифты
    }

@font-face {
    font-family: 'ProximaNova';
    src: 
    url('fonts/ProximaNova-Regular.woff') format('woff'),
    url('fonts/ProximaNova-Regular.woff2') format('woff');
    font-display: swap; //Браузер будет подгружать стандартные шрифты
    }

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: 
    url('fonts/ProximaNova-Semibold.woff') format('woff'),
    url('fonts/ProximaNova-Semibold.woff2') format('woff');
    font-display: swap; //Браузер будет подгружать стандартные шрифты
    }

@font-face {
    font-family: 'ProximaNova-Bold';
    src: 
    url('fonts/ProximaNova-Bold.woff') format('woff'),
    url('fonts/ProximaNova-Bold.woff2') format('woff');
    font-display: swap; //Браузер будет подгружать стандартные шрифты
    }

@font-face {
    font-family: 'ProximaNova-Extrabld';
    src: 
    url('fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('fonts/ProximaNova-Extrabld.woff2') format('woff');
    font-display: swap; //Браузер будет подгружать стандартные шрифты
    }

@font-face {
    font-family: 'ProximaNova-Black';
    src: 
    url('fonts/ProximaNova-Black.woff') format('woff'),
    url('fonts/ProximaNova-Black.woff2') format('woff');
    font-display: swap; //Браузер будет подгружать стандартные шрифты
    }
